body {background: white;}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {  
    width: 23%;
    padding: 1%;
    text-align:center;
}
nav { 
    width: 73%;
    padding: 1%;
 }

 p {
    color:rgb(39, 109, 167);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: roman;   
 }
.footer {
     width: 100%;
     margin-left:auto; 
     background-color: rgb(39, 109, 167);
     padding-right: 15px;
     margin: 5px;
 }

 .heroimg {
     height: 600px;
     padding: 25px;
 }

 ul {   
    display:inline-block;
    vertical-align:top;
    padding: 30px;
    color: white

    }


