
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {  
    width: 23%;
    padding: 1%;
    text-align:center;
}
nav { 
    width: 73%;
    padding: 1%;
 }

 p {
    color:rgb(39, 109, 167);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;   
 }
.footer {
     width: 50%;
     margin-left: auto; 
 }

 .heroimg {
     height: 600pxx;
     padding: 25px;
 }

 .footer {
    background-color: rgb(39, 109, 167);
    padding-right: 15px;
    margin: 5px;
 }

 ul {   
    display:inline-block;
    vertical-align:top;
    padding: 10px;
    }


